

<div class="p-3 mx-auto text-center">
    <h1 class="display-4">Ajouter un Contact</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm p-4">
                    <form method="post">

                        {{> contact-form }}

                        <!-- Submit -->
                        <button class="btn btn-block btn-dark">
                            <i class="fas fa-plus-circle"></i>
                            Ajouter le Contact
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
