
{{#if errors }}
    <div class="alert alert-danger">
        {{#each errors}}
            <i class="fas fa-exclamation-triangle"></i> {{ msg }} <br>
        {{/each}}
    </div>
{{/if}}


<!-- ------------- ~ Prénom ~ -------------  -->
<div class="form-group mt-2">
    <label>Prénom</label>
    <input type="text" name="firstname"
           placeholder="Prénom."
           class="form-control">
    <small class="form-text text-muted">
        Saisissez le prénom du contact.
    </small>
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Nom ~ -------------  -->
<div class="form-group mt-2">
    <label>Nom</label>
    <input type="text" name="lastname"
           placeholder="Nom."
           class="form-control">
    <small class="form-text text-muted">
        Saisissez le nom du contact.
    </small>
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Email ~ -------------  -->
<div class="form-group mt-2">
    <label>Email</label>
    <input type="email" name="email"
           placeholder="Email."
           class="form-control">
    <small class="form-text text-muted">
        Saisissez l'email du contact.
    </small>
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Téléphone ~ -------------  -->
<div class="form-group mt-2">
    <label>Téléphone</label>
    <input type="tel" name="tel"
           placeholder="Téléphone."
           class="form-control">
    <small class="form-text text-muted">
        Saisissez le téléphone du contact.
    </small>
</div> <!-- .form-group.mt-2 -->
